.container
	min-height: calc(100% - 550px)
.content 
	padding-top: 30px
	padding-bottom: 195px
	font-family: 'PT Sans', sans-serif
	font-size: 14px
	line-height: 22px
	.wrapper
		display: flex
		flex-direction: row
		justify-content: space-between

.news
	background-color: $color-main
	box-sizing: border-box
	width: 36%	
	padding-left: 4%
	padding-bottom: 100px
	padding-right: 6%
.company
	width: 58%
	color: $color-text
.news-list
	list-style: none
	margin: 0
	padding: 0
.date-news
	font-style: italic	
	color: #fff
	margin: 0
.two-caption, .main-caption
	margin-top: 22px
	margin-bottom: 40px
	color: #fff
	font-size: 40px	
.main-caption
	color: $color-text
.news-array
	margin-bottom: 22px
.stry-news
	float: right
	text-decoration: underline
	&:hover
		text-decoration: none
.paragraph
	margin-top: 0
	margin-bottom: 21px
.news-link
	&:hover
		text-decoration: underline