footer
	background-color: $color-main
	height: 220px
	padding-top: 50px
	.wrapper
		display: flex
		justify-content: space-between
		flex-direction: row
		font-family: 'PT Sans', sans-serif
		font-size: 14px
		line-height: 22px
		color: #fff
.copy
	margin: 0
.footer-links
	text-decoration: underline
	&:hover
		text-decoration: none
.footer-menu-list
	list-style: none
	padding: 0
	margin: 0


.company-footer
	display: flex
	justify-content: space-between
	align-items: start
	width: 225px
.company-work
	margin-right: 5px

.name-company-footer
	margin: -4px 0
	line-height: 16px
.link-company
	text-decoration: underline
	&:hover
		text-decoration: none