@import "vars.sass"

body, html
	width: 100%
	height: 100%

.preloader
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: #fff
	z-index: 999
	background-image: url(../img/preloader.gif)
	background-repeat: no-repeat
	background-position: center

header 
	background-color: #DCDCDC
	.wrapper
		display: flex
		align-items: center
		justify-content: space-between
		height: 230px
.logo
	display: block
.contucts

.number
	display: block
	color: $color-main
	font-family: 'Open Sans Condensed'
	font-size: 40px
	