@media (max-width: 1279px)
	footer
		.wrapper .logo-block, .wrapper .odkazy-button, .wrapper .otkazy-list
			width: 32%


@media (max-width: 1023px)
	.head-title:after, .head-title:before
		width: 20%	
	.wrapper
		width: 96vw

@media (max-width: 767px)
	.main-caption 
		font-size: 27px
	.head-title:after
		right: -20px
	.head-title:before
		left: -20px
	.block-fluid		
		flex-direction: column
	.card-info
		width: 100%
		margin-bottom: 15px
	.tabs__content.active 
		flex-wrap: wrap
	.block-in-tab		
		width: 46%
	.odkaz-link
		display: block
	footer .wrapper
		display: flex
		justify-content: space-between
	footer .wrapper .otkazy-list
		width: 24%	
	.section-one
		min-height: 220px
		height: auto