
menu
  background-color: $color-main
  margin: 0
  padding: 0

.menu
  display: flex
  align-items: center
  justify-content: space-around
  list-style: none
  padding: 0
  width: 100%
  height: 80px
  margin: 0
  color: #fff
  font-family: 'PT Sans', sans-serif
.list-menu
  font-size: 30px
  position: relative
  &:after
    position: absolute
    content: "|"
    color: #fff
    font-family: 'PT Sans', sans-serif
    font-size: 30px
    right: -30px
  &:last-child:after
    display: none
.links-menu
  position: relative
  &:after
    position: absolute
    content: ""
    bottom: 0
    background-color: #fff
    height: 2px
    left: 0
    width: 0
    transition: width 0.3s
  &:hover
    &:after
      width: 100%
      
      