.swiper-container
    width: 100%
    height: 100%

.swiper-slide 
    text-align: center
    font-size: 18px
    background: #fff
    display: flex
    justify-content: center
    align-items: center
.swiper-button-next
    background-image: url(../img/arr-r.jpg)
    right: 0
    margin-top: 22px
.swiper-button-prev
    background-image: url(../img/arr-r.jpg)
    transform: rotate(180deg)
    left: 0
    margin-top: 22px


.swiper-container .wrapper
    position: absolute
    left: 50%
    transform: translateX(-50%)
    z-index: 3
    top: 50%
    margin-top: -30px
