boby
	font-family: 'PT Sans', sans-serif
	font-size: 14px
	line-height: 22px

a
	text-decoration: none
	color: #fff

$color-main: #777777
$color-text: #767676

%clear
	&:after
		content: ""
		display: table
		clear: both

.wrapper
	width: 980px
	margin: 0 auto
	padding: 0 10px
	position: relative